.container {
  width: 70%;
  margin: auto;
  text-align: center;
}


.dice {
  text-align: center;
  display: inline-block;
  
}

body {
  background-color: #b0f8a6;
  font-family:'Montserrat', sans-serif;
}

.ReloadButton{
  margin: 50px; 
  font-family:'Montserrat', sans-serif;
  font-size: 2rem;
  color: #f03c60;
  background-color: #27282b;
  border:solid;
  border-radius: 15px;
  padding: 10px 5px;
}

p {
  font-size: 2.5rem;
  color: #f03c60;
  font-family: Mon
}

img {
  width: 60%;
}

footer {
  margin-top: 5%;
  color: #080808;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  font-size: 20px;
}
